* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  direction: rtl;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  direction: rtl;
  padding: 20px;
}
.logo img {
  width: 195px;
  height: 30px;
  margin-right: 120px;
}
.search-box {
  transform: translateX(340px);
  position: relative;
  width: 600px;
  height: 44px;
}
.search-box input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  transform: translateX(-110px);
}
header > div.search-box > img.Search {
  width: 26px;
  height: 26px;
  transform: translateX(-100px);
}
.search-box::before {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: gray;
}
header > div.bell {
  width: 25px;
  height: 26px;
  transform: translateX(-120px);
}
header > div.bell > img.bell1 {
  width: 24px;
  height: 25px;
}
header > div.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
header > div.actions > a.sign {
  text-decoration: none;
  color: #111111;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  transform: translateX(110px);
  border: #33333356 solid;
  border-radius: 7px;
}
header > div.actions > a.sabad {
  width: 20px;
  height: 19px;
  transform: translateX(95px);
}
nav {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
}
nav > div.Menu {
  width: 85%;
  height: 40px;
  display: flex;
  margin: auto;
  direction: rtl;
}
nav > div.Menu > div {
  width: 142px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
nav > div.Menu > div:hover {
  color: red;
  font-weight: 600;
}
nav > div.Menu > div > img {
  width: 15px;
  height: 15px;
}
nav > div.Menu > div.place {
  width: 174px;
  height: 40px;
  margin-right: 600px;
  margin-top: 0;
  padding-top: 10px;
}
nav > div.Menu > div.place > p {
  color: #f57f17;
  font-weight: 900;
}
nav > div.Menu > img.place1 {
  transform: translateX(-599px);
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
section {
  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 10px;
}
section > div.story {
  margin: auto;
  width: 70%;
  height: 156px;
  display: flex;
  justify-content: space-around;
  padding-top: 9px;
}
section > div.story > div {
  width: 84px;
  height: 140px;
  padding-right: 5px;
}
section > div.story > div > img {
  border-radius: 50px;
  width: 74px;
  height: 74px;
  object-fit: cover;
}
section > div.story > div > p {
  font-size: 17px;
  font-weight: 500;
  color: #23254e;
  text-align: center;
}
.swiper {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
.swiper-wrapper,
.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.swiper > img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.category-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  padding: 30px 0;
  background-color: #fff;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.category-item:hover {
  transform: translateY(-5px);
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.icon img {
  width: 52px;
  height: 52px;
}

.category-item p {
  font-size: 14px;
  color: #444;
  margin: 0;
}
div.D2 {
  width: 100%;
  height: 305px;
  margin-top: 10px;
}
div.D2 > div.d2 {
  width: 70%;
  height: 300px;
  margin: auto;
  border-radius: 16px;
  padding-block: 20px;
  background-color: crimson;
}
div.D2 > div.d2 > div.main {
  width: 100%;
  height: 255px;
  display: flex;
  gap: 3px;
}
div.D2 > div.d2 > div.main > div {
  width: 162px;
  height: 100%;
}
.shegeft {
  width: 94px;
  height: 216px;
  margin: 15px auto;
}
img.amazing {
  width: 88px;
  height: 88px;
}
div.time {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 3px;
  background-color: white;
}
div.time2 {
  width: 4px;
  height: 30px;
  color: white;
  font-size: larger;
  display: inline-block;
  transform: translateY(-5px);
}
.seen {
  color: #ffffff;
  font-size: 20px;
  margin-top: 10px;
}
div.e {
  background-color: #ffffff;
}
img.IMG {
  width: 132px;
  height: 132px;
  margin-right: 15px;
  cursor: pointer;
}
p.caption {
  color: rgb(68, 67, 67);
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}
.price {
  text-align: left;
  margin-top: 30px;
  color: rgb(68, 67, 67);
  cursor: pointer;
}
div.super {
  width: 100%;
  margin-top: 20px;
}
div.super > div {
  width: 70%;
  height: 120px;
  margin: auto;
  background-color: rgb(167, 160, 160);
  border-radius: 16px;
  display: flex;
}
div.super > div > img {
  margin: 30px;
}
div.super > div > img.fresh {
  margin: 50px;
  margin-right: 0;
}
div.super > div > div.takhfif {
  background-color: #029a49;
  width: 11%;
  border-radius: 15px;
  height: 25%;
  margin: 43px 0px 45px;
  padding: 4px 12px;
}
div.super > div > div.takhfif > p {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}
div.super > div > div.mahsul {
  margin-top: 25px;
  margin-right: 160px;
}
div.super > div > div.mahsul > a > img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}
div.super > div > div.kala {
  margin-top: 35px;
  margin-right: 20px;
  padding: 20px;
  background-color: #ffffff;
  height: 50px;
  border-radius: 16px;
  color: #029a49;
}
div.super > div > div.kala > a > img {
  width: 25px;
  height: 25px;
}
div.flex {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
div.flex > div > img {
  width: 322px;
  border-radius: 10px;
  cursor: pointer;
}
div.container1 {
  width: 70%;
  margin: 40px auto;
  padding: 0 20px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
div.container1 > div.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
}
div.container1 > div.category-item {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 16px;
  transition: 0.2s;
}
div.container1 > div.category-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
div.container1 > div.grid1 > div.category-item > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 30px;
}
div.container1 > div.grid1 > div.category-item > span {
  font-size: 14px;
}
div.p2 {
  display: flex;
  justify-content: center;
}
div.p2 > div > img {
  width: 660px;
  height: 264px;
  border-radius: 16px;
  margin: 5px;
}
.brands-section {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  max-width: 1400px;
  margin: 40px auto;
  border: 1px solid gray;
}

.brands-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  margin-top: 54px;
}

.brands-title span {
  color: #ffb703;
}

.brands-list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: auto;
}

.brand-item {
  flex: 0 0 auto;
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-item img.brand-img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  max-width: 1300px;
  margin-right: 120px;
  margin: auto;
  height: 400px;
}

.category-card {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  max-height: 360px;
  max-width: 350px;
}

.category-card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  transform: translateY(-2px);
}

.category-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
}

.category-subtitle {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 12px;
}

.category-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 12px;
}

.category-items img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.category-link {
  font-size: 15px;
  color: #0ea5e9;
  text-decoration: none;
}
div.section-d {
  width: 69%;
  margin-right: 295px;
  border: 1px solid #e5e7eb;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
div.section-d > div.title-d {
  display: flex;
  margin: auto;
}
div.section-d > div.title-d > h3 {
  margin: auto;
  padding: 20px;
}
div.section-d > div.product-c1 {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
div.section-d > div.product-c1 > a > img {
  width: 150px;
  height: 150px;
}
div.product-c1 > a > div > span {
  margin: 7px;
  color: #111111;
}
div.product-c1 > a > div > span.offer {
  background-color: red;
  border-radius: 5px;
  color: #e5e7eb;
  padding: 2px;
}
div.section-e {
  width: 69%;
  margin-right: 295px;
  border: 1px solid #e5e7eb;
}
div.section-e > div.title-d {
  display: flex;
  margin: auto;
}
div.section-e > div.product-c1 {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
div.section-e > div.product-c1 > a > img {
  width: 150px;
  height: 150px;
}
div.section-f {
  width: 69%;
  margin-right: 295px;
  border: 1px solid #e5e7eb;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
div.section-f > div.title-d {
  display: flex;
  margin: auto;
}
div.section-f > div.product-c1 {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
div.section-f > div.product-c1 > a > img {
  width: 150px;
  height: 150px;
}
div.product1 {
  direction: rtl;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border: 1px solid #bbbb;
  border-radius: 15px;
  width: 70%;
  margin: 20px auto;
  padding-bottom: 20px;
}
div.product1 > div.header-product {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
div.product1 > div.header-product > div {
  font-size: 20px;
  margin-right: 500px;
}
div.product1 > div.header-product > div.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.product1 > div.header-product > div.left > div {
  display: flex;
}
div.product1 > div.header-product > div.left > div > span {
  margin: 0px 10px;
}
div.product1 > div.main-product {
  width: 100%;
  height: 100%;
}
div.product1 > div.main-product > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  list-style: none;
}
div.product1 > div.main-product > ul > li {
  width: 310px;
  height: 100px;
}
div.product1 > div.main-product > ul > li > a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  text-decoration: none;
}
div.product1 > div.main-product > ul > li > a > h1 {
  color: #35a6c8;
  margin: 0 15px;
}
div.product1 > div.main-product > ul > li > a > p {
  font-size: 11px;
  color: #757575;
  border-bottom: 1px solid #bbb;
  height: 100%;
  display: flex;
  align-items: center;
}
img.main-p {
  width: 86px;
  height: 86px;
}
.read-bottom {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.read-bottom > .header-read {
  width: 67%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.read-bottom > .header-read > a {
  color: #19bfd3;
  text-decoration: none;
}
.read-bottom > .main-read {
  width: 100%;
  height: auto;
}
.read-bottom > .main-read > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.read-bottom > .main-read > ul > li {
  width: 322px;
  height: 320px;
  border-radius: 10px;
  border: 1px solid #bbb;
  list-style: none;
}
.read-bottom > .main-read > ul > li > a > img {
  width: 320px;
  height: 250px;
  border-radius: 10px;
}
.read-bottom > .main-read > ul > li > a > p {
  color: black;
  padding: 20px;
}
footer {
  width: 100%;
  height: auto;
  border-top: 1px solid #ccc;
}
footer > .footer-layer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > .footer-layer1 > .footer-layer1-right {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 45px 30px;
}
footer > .footer-layer1 > .footer-layer1-right > img {
  width: 195px;
  height: 30px;
}
footer > .footer-layer1 > .footer-layer1-right > ul {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px 0;
}
footer > .footer-layer1 > .footer-layer1-right > ul > li {
  font-size: 17px;
  margin: 0 0 0 15px;
  list-style: none;
  color: #424242;
}
footer .footer-layer1-left {
  padding: 45px 30px;
}
footer .footer-layer1-left > div {
  display: flex;
  border: 1px solid #cccccccc;
  border-radius: 7px;
  padding: 9px 12px;
  cursor: pointer;
  font-size: 18px;
}
footer .footer-layer1-left > div a {
  color: #111111;
  text-decoration: none;
}
footer .footer-layer1-left > div span {
  margin: 0 5px;
}
footer .footer-layer2{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 35px 0;
}
footer .footer-layer2 ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
footer .footer-layer2 ul li{
  list-style: none;
}
footer .footer-layer2 ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
footer .footer-layer2 ul li a p{
  color: #424242;
}
footer .footer-layer3{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 50px 0;
  padding: 0 20px;
}
footer .footer-layer3>div{
 width: 350px;
}
footer .footer-layer3>div ul li{
  list-style: none;
  font-size: 16px;
  color: #4c474799;
  margin: 5px 0;
  letter-spacing: 1px;
}
footer .footer-layer3> .last_child{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
footer .footer-layer3> .last_child .social{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
footer .footer-layer3> .last_child .social span{
  font-size: 20px;
  margin: 10px;
}
footer .footer-layer3> .last_child .email-box-footer{
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-top: 15px;
}
footer .footer-layer3> .last_child .email-box-footer input{
  outline: none;
  border: none;
  background-color: #ccc;
  border-radius: 10px;
  padding: 12px 17px;
}
footer .footer-layer3> .last_child .email-box-footer .search_email{
  background-color: #cccc;
  padding: 10px;
  color: white;
  border-radius: 6px;
  margin-right: 15px;
  cursor: pointer;
}
footer .footer-layer4{
  width: 90%;
  margin: 20px auto;
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c4b6c;
}
footer .footer-layer4 .footer-layer4-right{
  display: flex;
  width: 40%;
  justify-content: start;
  align-items: center;
}
footer .footer-layer4 .footer-layer4-right h1{
  margin: 0 11px;
  color: white;
}
footer .footer-layer4 .footer-layer4-right img{
  width: 44px;
  height: 44px;
  cursor: pointer;  
}
footer .footer-layer4 .footer-layer4-left{
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
footer .footer-layer4-left img{
  width: 142px;
  height: 44px;
  cursor: pointer;
}
footer .footer-layer4-left span{
  font-size: 29px;
  background: #eee;
  padding: 6px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
footer .footer-layer5{
  width: 100%;
  display: flex;
  padding: 25px;
}
footer .footer-layer5 .footer-layer5_right{
  width: 60%;
}
footer .footer-layer5 .footer-layer5_right h3{
  font-size: 21px;
  margin: 15px 0;

}
footer .footer-layer5 .footer-layer5_right p{
  color: #4c4c4c;
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 25px;
}
footer .footer-layer5 .footer-layer5_right a{
  text-decoration: none;
  color: #1515ff;
  font-size: 16px;
}
footer .footer-layer5 .footer-layer5_left {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}
footer .footer-layer5 .footer-layer5_left img{
  width: 100px;
  height: 100px;
  margin: 0 5px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 7px;
}
footer .footer-layer6{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
}
footer .footer-layer6 p{
  color: #797979;
  padding: 25px 0;
}
footer .footer-end{
  width: 100%;
  background: #f0f0f1;
} 
footer .footer-end ul{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
footer .footer-end ul li{
 
  border: 1px solid #dfdfe1;
  list-style: none;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}
footer .footer-end ul li img{
  height: 20px;
}
.call_us{
  width: 50px;
  height: 50px;
  background-color: #ef4056;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  color: #ccc;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}